html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

h1 {
	font-family: 'Amatic SC', sans-serif;
	font-size: 4em;
}

/*
 * Styles for the cards of cards
 */

.cards {
	width: 660px;
	min-height: 680px;
	background: linear-gradient(135deg, #27D5D7 0%, #B25500 100%);
	padding: 50px;
	border-radius: 10px;
	box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	/* align-items: center; */
	/* margin: 0 0 3em; */
}

.cards .card {
	height: 125px;
	width: 125px;
	background: #333;
	font-size: 0;
	color: #ffffff;
	border-radius: 8px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
	transform-style: preserve-3d;
}

.cards .card .fa {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 8px;
	overflow: hidden;
	transform: rotateY(180deg);
	backface-visibility: hidden;
	background: #02b3e4;
}

.cards .card.open {
	transform: rotateY(180deg);
	/* TODO: Play with transitions */
	transition: all .3s ease-in;
	cursor: default;
	font-size: 33px;
}

.cards .card.show {}

.cards .card.match {
	background: #02ccba;
}

/*
 * Styles for the Score Panel
 */

.score {
	/* text-align: left; */
	width: 500px;
	/* margin-bottom: 10px; */
}

.score .stars {
	margin: 0;
	padding: 0;
	display: inline-block;
	margin: 0 5px 0 0;
}

.score .stars li {
	list-style: none;
	display: inline-block;
}

.score .restart {
	float: right;
	cursor: pointer;
}
