html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #00235D;
}

body {
	font-family: sans-serif;
}

.container {
	display: none;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

header {
	padding: 40px;
	color: white;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background: #00235D;
	transition: all 1s ease;
}

h1 {
	font-family: 'Amatic SC', sans-serif;
	font-size: 3em;
	transition: all 1s ease;
}

button {
	width: 170px;
	border: none;
	padding: 15px 30px;
	background-color: #005D08;
	color: white;
	font-size: .8em;
	margin: 10px;
}

/*
 * Styles for the cards of cards
 */

.cards {
	max-width: 610px;
	min-height: 600px;
	border-radius: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.cards .card {
	height: 125px;
	width: 125px;
	background: white;
	color: #fff;
	border-radius: 90%;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	transform-style: preserve-3d;
	transition: all .5s ease;
	font-size: 2em;
}

.cards .card .back {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 90%;
	overflow: hidden;
	transform: rotateY(180deg);
	backface-visibility: hidden;
	background: #FF3819;
}

.cards .card.match {
	transform: rotateY(180deg);
	color: white;
}

.cards .card.open {
	transform: rotateY(180deg);
	cursor: default;
	font-size: 33px;
}

.cards .card.match .back {
	border-radius: 0px;
	color: #7EA908;
	transition: all .5s ease-in;
	background-color: #00235D;
}

/*
 * Styles for the Score Panel
 */

.restart {
	display: flex;
	background-color: black;
	color: white;
	width: 200px;
	height: 100vh;
	position: absolute;
	right: -200px;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	text-transform: uppercase;
	padding: 30px 0;
	transition: all .5s ease-in;
}

#point {
	color: green;
	transition: all .4s ease;
}
